<div *ngIf="professorSelecionado">
  <app-titulo [titulo]="'Professor: ' + professorSelecionado"></app-titulo>
  <br>
  <button class="btn btn-default" (click)="voltar()">Voltar</button>
</div>




<div *ngIf="!professorSelecionado">
  <app-titulo [titulo]="'Professores'"></app-titulo>

  <div class="body table-responsive">
    <table class="table table-bordered table-striped table-hover" style="width: 100%;">
      <thead>
        <tr>
          <th>#</th>
          <th>Nome</th>
          <th>Disciplina</th>
        </tr>
      </thead>
      <tbody *ngIf="listaProfessores?.length != 0" >
        <tr *ngFor="let model of listaProfessores" style="cursor: pointer;" (click)="professorSelect(model)">
          <td>
            {{model.id}}
          </td>
          <td>
            {{model.text}}
          </td>
          <td>
            {{model.discp}}
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>