<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container">

    <a routerLink="dashboard" class="navbar-brand"> Angular + ASP.NET Core</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
      aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <!-- Aqui usado o "me-auto" pois no bootstrap5 "right" mudou para "end" -->
      <ul class="navbar-nav me-auto">
        <li class="nav-item">
          <a routerLink="usuarios" routerLinkActive="active" class="nav-link">Usuários</a>
        </li>
        <!-- <li class="nav-item">
          <a routerLink="professores" routerLinkActive="active" class="nav-link">Professores</a>
        </li> -->
        <li class="nav-item">
          <a routerLink="documentos" routerLinkActive="active" class="nav-link">Documentos</a>
        </li>
        <li class="nav-item">
          <a routerLink="tiposDocumentos" routerLinkActive="active" class="nav-link">Tipos Documentos</a>
        </li>
        <li class="nav-item">
          <a routerLink="contatos" routerLinkActive="active" class="nav-link">Contatos</a>
        </li>
      </ul>

      <ul class="navbar-nav" dropdown>
        <li class="nav-item dropdown">
          <a style="cursor: pointer;" id="button-basic" dropdownToggle class="nav-link dropdown-toggle"
            id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Lucas
          </a>

          <div id="dropdown-basic" *dropdownMenu class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <a routerLink="perfil" class="dropdown-item" href="#">Perfil</a>
            <a class="dropdown-item" href="#">Sair</a>            
          </div>
        </li>
      </ul>
    </div>
  </div>
</nav>