<!-- EXEMPLO, PARTE DE CADASTRO -->
<div *ngIf="tipoDocumentoSelecionado || criandoTipoDocumento">
  <div class="d-flex justify-content-between align-items-center my-4">
    <div *ngIf="tipoDocumentoSelecionado" class="me-auto my-4">
       <app-titulo [titulo]="'Tipo de documento: ' + tipoDocumentoSelecionado.text"></app-titulo>
     </div>
    <div *ngIf="criandoTipoDocumento">
      <h2>Incluindo Usuários</h2>
    </div>
    <div class="d-flex justify-content-end">
      <button class="btn btn-warning" (click)="voltar()">Lista de Usuarios</button>
    </div>
  </div>

  <form>
    <div class="row">
      <div class="form-group col-9">
        <label for="formGroupExampleInput">N° Documento</label>
        <input type="text" value={{tipoDocumentoSelecionado.numero}} class="form-control">
      </div>
      <div class="form-group col-3">
        <label for="formGroupExampleInput2">Tipo Documento</label>
        <input type="text" value={{tipoDocumentoSelecionado.text}} class="form-control" placeholder="Orçamento">
      </div>
    </div>

    <div class="d-flex justify-content-end my-4">
      <button type="submit" class="btn btn-success mx-2">Salvar</button>
      <button *ngIf="!criandoTipoDocumento" type="submit" class="btn btn-danger  ml-2 mr-0">Excluir</button>
    </div>
  </form>
</div>

<div *ngIf="!tipoDocumentoSelecionado && !criandoTipoDocumento">
  <div class="d-flex justify-content-between align-items-center my-4">
    <app-titulo [titulo]="'Tipos de documentos'"></app-titulo>
    <button class="btn btn-primary" (click)="criaTipoDocumento()">Incluir</button>
  </div>
  <div class="body table-responsive">
    <table class="table table-bordered table-striped table-hover" style="width: 100%;">
      <thead>
        <tr>
          <th class="text-center" width="50">N° Documento</th>
          <th class="text-center" width="150">Descrição</th>
        </tr>
      </thead>
      <tbody *ngIf="listaDocs?.length != 0">
        <tr *ngFor="let model of listaDocs" style="cursor: pointer;" (click)="tipoDocumentoSelect(model)">
          <td class="text-center">
            {{model.numero}}
          </td>
          <td>
            {{model.text}}
          </td>          
        </tr>
      </tbody>
    </table>
  </div>
</div>
