<!-- <mat-progress-bar *ngIf="isBusy" mode="indeterminate"></mat-progress-bar> -->
<div class="header">
  <h2>{{titulo}}</h2>
</div>
<div class="body table-responsive">
  <!--query end-->
  <table class="table table-bordered table-striped table-hover" style="width: 100%;">
    <thead>
      <tr>
        <th class="text-center" width="50">N° Documento</th>
        <th class="text-center" width="200">Descrição</th>
        <th class="text-center" width="150">Data Emissão</th>
        <th class="text-center" width="150">Data Vencimento</th>
      </tr>
    </thead>
    <tbody *ngIf="listaDocs?.length != 0">
      <tr *ngFor="let model of listaDocs">
        <td class="text-center">
          {{model.numero}}
        </td>
        <td>
          {{model.descr}}
        </td>
        <td class="text-center">
          {{model.dataEmissao}}
        </td>
        <td class="text-center">
          {{model.dataVencto}}
        </td>
      </tr>
    </tbody>
  </table>
</div>
<div class="fixed-action-btn">
  <!-- <button [disabled]="!isAllowed('Create')" mat-fab color="primary" (click)="create()" matTooltip="Adicionar (F9)"
      matTooltipPosition="above">
      <mat-icon>add</mat-icon>
    </button> -->
</div>